<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Anime Wolrd</title>
      <link rel="stylesheet" type="text/css" href="/assets/stylesheet/feedback.css">
      <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/fontawesome-free-5.6.3-web/css/all.css">
      <script type="text/javascript" src="/assets/js/myscripts.js"></script>
    </head>
    <body>
      <div class="wrapper">
        <% include partials/site-navigation.ejs %>
        <div id="main">
          <div class="imagewrapper">
            <% include partials/header.ejs %>
            <% include partials/user-navigation.ejs %>
          </div>
          <div class="container">
              <div class="content">


                <div class="sec-intro">
                    <img class="img" src="/assets/images/zeldris.jpg" alt="itachi" />
                    <img class="img" src="/assets/images/meliodas2.jpg" alt="kaneki" />
                    <img class="img" src="/assets/images/escanor.jpg" alt="kaneki" />
                    <img class="img" src="/assets/images/meliodas3.jpg" alt="kaneki" />
                </div>

                <div class="detailpage">
                    <div class="headingwrapper">
                      <div class="feedbackpage">
                        <p>Give your feedback for</p>
                      </div>
                      <div class="detailimage">
                        <img id="cover" src="<%= item_.item.getImageURL() %>" alt="<%= item_.item.itemName %>">
                      </div>
                      <div class="detailname">
                        <h2><%= item_.item.itemName %></h2>
                        <p><%= item_.item.catalogCategory %></p><br>
                      </div>
                      <div class="rating">
                        <form class="form1" action="/myitems">
                          <input type=hidden name='action' value='update'>
                          <input type=hidden name='itemCode' value='<%= item_.item.itemCode %>'>
                          <p>Rating: </p>
                          <select name='rating'>
                            <option value="0" selected>0<span class="fa checked"></span></option>
                            <option value="1" >1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                          <p>Watched It: </p>
                          <select class="" name="watchedIt">
                            <option value="Yes" selected="selected">Yes</option>
                            <option value="No">No</option>
                          </select>
                          <button type="submit" > <span class="blackletter">C</span>onfirm</button>
                        </form>
                      </div>
                    </div>

                    <div class="detailcontent">

                        <article class="summary">
                          <h4><span class="redletter">S</span>ummary   </h4><hr><br>
                          <%= item_.item.description %>
                        </article>
                    </div>


                  </div>

              </div>
              <% include partials/footer.ejs %>
          </div>
        </div>
      </div>
    </body>
</html>
